/* 0 sense of style at work */

/* univsersal selector */
* {
    color: #3a6b2d
}

colgroup col{
    width: 200px;
}

.widget{
    height: auto;
}

input.widget{
    margin-left: 20px;
}

#list-of-pizzas-ive-made{
    text-decoration: underline overline;
}

[src]{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px 10px 10px 10px;
}

html {
    font-size: 14px;
    background-color: rgb(236, 208, 130);
    font-family: "Playfair Display", serif;
}

p{
    color:mediumorchid;
}

h1, h2, h3{
    color: hsla(10,100%,50%,0.7);
    margin: left;
}